blockquote {
    color: #fff;
    font-size: 1.5rem;
}
main img {
    border-radius: 10px;
    width: 100%;
}
a > img {
    width: auto;
    border-radius: 0;
    opacity: .8;
}
a > img:hover {
    opacity: 1;
}
h2 {
    font-weight: 300;
    font-size: 2rem;
    clear: both;
}

.projNav {
    position: relative;
    border: 0;
    width: auto;
}

.backButton {
    color: #fff;
    text-decoration: none;
    flex: 1;
    padding-left: 2em;
    font-size: 0.8em; 
}
#resumo + p > img + img {
    float: left;
    margin-left: -60px;
    width: 40%;
}
p, h2, table {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
p:has(+ img) {
    max-width: 100%;
    border: 3px solid #f00;
}
/* #resumo + p img {
    display: inline;
}
#resumo + p {
    overflow-x: scroll;
    max-height: 100px;
} */
@media screen and (max-width: 768px){
    .projNav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #111;
        justify-content: space-evenly;
        z-index: 10;
        border-top: 1px solid rgba(255, 255, 255, 0.17);
    }
    .backButton {
        flex: 0 1 auto;
        padding-left: 0;
    }
}